/News.Core/bin
/News.Core/obj
/News.Extract.Clarin/bin
/News.Extract.Clarin/obj
/News.Extract.Clarin.Test/bin
/News.Extract.Clarin.Test/obj
/News.Web/bin
/News.Web/obj
/News.userprefs
/packages/*
!/packages/repositories.config
